@import url(sanitize.css);

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3f0e8;
  font-family: serif;
  font-weight: bold;
}

/*ヘッダー*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: solid 5px #5b4723;
  background-color: #d9ceb9;
  width: 100%;
}

header > div.left > a > img.icon {
  width: 64px;
  height: 64px;
  margin: 12px 12px 12px 24px;
}

header > div.left > a > img.icon:hover {
  width: 72px;
  height: 72px;
  margin: 10px 10px 8px 22px;
}

header > div.right {
  width: 40%;
}

header > div.right > nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

header > div.right > nav > a {
  text-decoration: none;
  display: inline-block;
  position: relative;
}

header > div.right > nav > a > h1 {
  color: #5b4723;
}

header > div.right > nav > a > h1:hover {
  color: black;
  font-size: 38px;
  margin: 15px auto auto auto;
}

header > div.right > nav > a > h1::after {
  background-color: #5b4723;
  bottom: 30px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
  width: 100%;
}

header > div.right > nav > a > h1:hover::after {
  transform: scale(1, 1);
}

@media (max-width: 1200px) {
  header > div.right {
    width: 50%;
  }
}

@media (max-width: 1000px) {
  header > div.right {
    width: 60%;
  }
}

@media (max-width: 800px) {
  header > div.right > nav > a > h1 {
    font-size: 24px;
    margin: 26px auto;
  }

  header > div.right > nav > a > h1:hover {
    color: black;
    font-size: 28px;
    margin: 24px auto auto auto;
  }
}

@media (max-width: 620px) {
  header > div.right > span.nav_toggle {
    display: block;
    position: relative;
    width: 2rem;
    height: 1.75rem;
    top: 35%;
    left: 80%;
  }
  header > div.right > span.nav_toggle i {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #333;
    position: absolute;
    transition:
      transform 0.5s,
      opacity 0.5s;
  }
  header > div.right > span.nav_toggle i:nth-child(1) {
    top: 0;
  }
  header > div.right > span.nav_toggle i:nth-child(2) {
    top: 0;
    bottom: 0;
    margin: auto;
  }
  header > div.right > span.nav_toggle i:nth-child(3) {
    bottom: 0;
  }
  header > div.right > nav.nav {
    position: fixed;
    top: 3rem;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.5s,
      visibility 0.5s;
    height: 70px;
  }
  header > div.right > span.nav_toggle.show {
    position: fixed;
    top: 4.2%;
    left: 88%;
  }
  header > div.right > span.nav_toggle.show i:nth-child(1) {
    transform: translateY(12px) rotate(-45deg);
  }
  header > div.right > span.nav_toggle.show i:nth-child(2) {
    opacity: 0;
  }
  header > div.right > span.nav_toggle.show i:nth-child(3) {
    transform: translateY(-13px) rotate(45deg);
  }
  header > div.right > nav.nav.show {
    opacity: 1;
    visibility: visible;
  }

  header > div.right > nav > a > h1::after {
    top: 55px;
  }
}

/*フッター*/
footer {
  background-color: #5b4723;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer > div.left {
  display: flex;
}

footer > div.right {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

footer > div.left > p {
  color: white;
  font-size: 24px;
  margin: auto auto auto 32px;
}

footer > div.left > img.icon {
  width: 40px;
  height: 40px;
  margin: 12px 12px 12px 24px;
  color: white;
}

footer > div.right > a {
  text-decoration: none;
}

footer > div.right > a > h2 {
  color: white;
  margin: 13.5px 0;
}

footer > div.right > a > h2:hover {
  color: lightgrey;
}

@media (max-width: 1500px) {
  footer > div.right {
    width: 50%;
  }
}

@media (max-width: 1150px) {
  footer > div.right {
    width: 60%;
  }
}

@media (max-width: 970px) {
  footer > div.right > a > h2 {
    font-size: 18px;
    margin: 25px 0 0 0;
  }
}

@media (max-width: 800px) {
  footer > div.right > a > h2 {
    font-size: 16px;
    margin: 23px 0 0 0;
  }
}

@media (max-width: 650px) {
  footer > div.right {
    display: none;
  }

  footer > div.right {
    width: 10%;
  }

  footer > div.left > p {
    color: white;
    font-size: 24px;
    margin: auto auto auto 32px;
  }
}

footer > div.left > a.pagetop {
  height: 50px;
  width: 50px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: #f3f0e8;
  border: solid 2px #5b4723;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

footer > div.left > a.pagetop > div.pagetop__arrow {
  height: 10px;
  width: 10px;
  border-top: 3px solid #5b4723;
  border-right: 3px solid #5b4723;
  transform: translateY(20%) rotate(-45deg);
}

/*メイン*/
main > .middle-title {
  width: 100%;
  display: inline-block;
  position: relative;
}

main > .middle-title > h1 {
  color: #5b4723;
  margin: 10px 0 0 46px;
}

main > .middle-title > h1::after {
  background-color: #5b4723;
  bottom: 7px;
  content: "";
  height: 3px;
  left: 0px;
  position: absolute;
  transform: scale(1, 1);
  transform: translateX(1%);
  transform-origin: center top;
  width: 98%;
}
